/* Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

/* Display-role reset for other browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Raleway', Arial, Sans-serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Webpage styles */

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

div.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

div.logo {
    display: flex;
    align-items: center;
}

div.menu {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav a {
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
    background: #FFF;
    color: #727272;
    font-size: 14.5px;
    transition: color .4s, background .4s;
}

nav a:hover {
    background: #39AAE1;
    color: #FFF;
    transition: color .4s, background .4s;
}

section#banner {
    background: url('../assets/img/img1.jpg') no-repeat center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}

div.column {
    flex-direction: column;
}

div.banner_headline {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

div.banner_headline h1 {
    color: #FFF;
    font-size: 72px;
    text-shadow: 1px 1px 0px rgba(0,0,0,.5);
    max-width: 350px;
}

div.banner_headline h2 {
    color: #FFF;
    font-size: 20px;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    max-width: 350px;
    margin-top: 30px;
}

div.banner_options {
    height: 210px;
    display: flex;
}

div.banner1,
div.banner2,
div.banner3 {
    flex: 1;
    color: #FFF;
    padding: 20px;
}

div.banner1 {
    background: #39AAE1;
}

div.banner2 {
    background: #0079C7;
}

div.banner3 {
    background: #2B4C99;
}

h1.banner_title {
    font-size: 24px;
}

p.banner_text {
    font-size: 16px;
    margin: 20px 0;
}

button.banner_button {
    background: none;
    border: 1px solid #FFF;
    padding: 10px;
    color: #FFF;
    font-size: 18px;
    outline: none;
    transition: background .5s, color .5s;
}

button.banner_button:hover {
    background: #FFF;
    color: #0079C7;
    transition: background .5s, color .5s;
}

div.query {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 14px 0;
    border-bottom: thin solid rgba(255,255,255,.4);
}

section#geral {
    display: flex; 
    justify-content: center;
}

section#geral section {
    flex: 2;
}

section#geral aside {
    flex: 1;
}

h4.widget_title {
    margin: 30px 0 10px 0;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

div.widget_title_bar {
    width: 50px;
    height: 3px;
    background: #36A9C1;
    margin-bottom: 20px;
}

div.squares {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

div.square {
    width: 150px;
    height: 150px;
    margin-bottom: 25px;
    background: #23A3DE;
}

div.widget_content > p {
    margin-bottom: 25px;
}

div.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 0 0 15px 0;
}

div.info img {
    flex: 1;
    margin-right: 15px;
    display: block;
    max-width: 30px;
    width: 100%;
}

div.info p {
    flex: 4;
}

div.info p a#phone {
    color: #000;
    font-weight: bold;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
}

article .news_data {
    display: flex;
}

article .news_posted_at {
    background: #2B4C99;
    color: #FFF;
    font-size: 12;
    padding: 10px;
    margin-right: 2px;
}

article .news_comments {
    background: #39AAE1;
    color: #FFF;
    font-size: 12px;
    padding: 10px;
}

article .news_thumbnail {
    margin-top: 30px;
}

article .news_thumbnail img {
    width: 100%;
    height: auto;
}

article .news_title {
    margin: 25px 0;
    color: #000;
    font-size: 24px;
}

article .news_resume {
    color: #000;
    font-size: 14;
    line-height: 20px;
    margin-bottom: 25px;
}
